<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{styles/style.css}">
    <script type="text/javascript" th:src="@{/js/lib.js}"></script>
    <title>Legit or Fake</title>
</head>
<body>
<div th:insert="/navbar :: navbar">  </div>
<div class="container">
    <br>
    <div class="jumbotron bg-dark" >
        <div class="table-responsive">
            <table class="table table-borderless">
                <tr>
                    <h1>Najnowsze</h1>
                    <p>Ostatnio dodane przedmioty</p>
                </tr>
                <th th:each="newest : ${newestItems}">
                    <div class="card mt-5 bg-dark text-white" style="width:200px" >
                        <img class="card-img-top rounded" style="width:100%">
                        <div class="card-body">
                            <img class="card-img-top rounded" th:src="@{/image/{id}(id=${newest.image.id})}" style="width:100%;height:200px">
                            <h4 class="card-title" th:text="${#strings.length(newest.name)}>13 ? ${#strings.substring(newest.name,0,13)}
                        : ${newest.name}">Clothe name</h4>
                            <a href="/items/details.html" th:href="@{/items/details/{id}(id=${newest.id})}" class="btn btn-primary">Zobacz szczegóły</a>
                        </div>
                    </div>
                </th>
            </table>
        </div>
    </div>
    <div class="jumbotron bg-dark">
        <div class="table-responsive">
            <table class="table table-borderless">
                <tr>
                <h1>Najpopularniejsze</h1>
                <p>Najczęściej wyświetlane przedmioty</p>
                </tr>
                <th th:each="topViewed : ${topViewedItems}">
                    <div class="card mt-5 bg-dark text-white" style="width:200px" >
                        <img class="card-img-top rounded" style="width:100%">
                        <div class="card-body">
                            <img class="card-img-top rounded" th:src="@{/image/{id}(id=${topViewed.image.id})}" style="width:100%;height:200px">
                            <h4 class="card-title" th:text="${#strings.length(topViewed.name)}>13 ? ${#strings.substring(topViewed.name,0,13)}
                        : ${topViewed.name}">Clothe name</h4>
                            <a href="/items/details.html" th:href="@{/items/details/{id}(id=${topViewed.id})}" class="btn btn-primary">Zobacz szczegóły</a>
                        </div>
                    </div>
                </th>
            </table>
        </div>
    </div>
</div>

</body>
</html>