<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
    <script type="text/javascript" th:src="@{/js/lib.js}"></script>
    <title>Legit or Fake</title>
</head>
<body>
<div th:insert="/navbar :: navbar">  </div>
<div class="container">
    <div class="text-center text-black mt-1">
        <h1>Zaloguj się</h1>
        <p th:if="${loginError}" class="error">Błędny użytkownik lub hasło</p>
    </div>
        <form th:action="@{/login}" method="post">
            <div class="row">
                <div class="col-lg-4 mx-auto">
                    <div class="form-group">
                        <label for="username">Login</label>:
                        <input type="text" id="username" name="username" autofocus="autofocus" class="form-control"/> <br/>
                        <label for="password">Hasło</label>:
                        <input type="password" id="password" name="password" class="form-control"/> <br />
                        <center>
                        <input type="submit" class="btn btn-success" value="Zaloguj" />
                        <input type="reset" class="btn btn-danger" value="Reset" />
                        </center>
                    </div>
                </div>
            </div>

        </form>
</div>
</body>
</html>