<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{styles/style.css}">
    <script type="text/javascript" th:src="@{/js/lib.js}"></script>
    <title>Legit or Fake</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark" th:fragment="navbar">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="../" th:href="@{/}">Strona główna</a>
        </li>
        <li class="nav-item dropdown cursor active">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown">Odzież</a>
            <div class="dropdown-menu border border-white">
                <span th:each="category: ${clothesCategories}">
                    <a class="dropdown-item" href="/items/all.html" th:href="@{/items/all/{id}(id=${category.id})}" th:text="${category.name}"></a>
                </span>
            </div>
        </li>
        <li class="nav-item dropdown cursor active">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown">Obuwie</a>
            <div class="dropdown-menu border border-white">
                <span th:each="category: ${shoesCategories}">
                    <a class="dropdown-item" href="/items/all.html" th:href="@{/items/all/{id}(id=${category.id})}" th:text="${category.name}"></a>
                </span>
            </div>
        </li>
        <li class="nav-item">
            <a sec:authorize="!isAuthenticated()" class="nav-link disabled">Lista sprawdzających</a>
            <a sec:authorize="isAuthenticated()" class="nav-link active" href="users/testers.html" th:href="@{~/users/testers}">Lista sprawdzających</a>
        </li>
        <li class="nav-item">
            <a sec:authorize="!isAuthenticated()" class="nav-link disabled" href="#">Menu użytkownika</a>
            <a sec:authorize="isAuthenticated()" class="nav-link active" href="#">Menu użytkownika</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link cursor" onclick="goBack()">Powrót</a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a class="nav-link active">Zalogowany jako: <span sec:authentication="name"></span></a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <a th:href="@{~/logout}" href="/index.html">
                    <button type="button" class="btn btn-outline-danger">Wyloguj</button>
                </a>
            </li>
            <li sec:authorize="!isAuthenticated()" class="nav-item">
                <a th:href="@{~/register}" href="/register.html">
                    <button type="button" class="btn btn-outline-info">Rejestracja</button>
                </a>
            </li>&nbsp
            <li sec:authorize="!isAuthenticated()" class="nav-item">
                <a th:href="@{~/login}" href="/login.html">
                    <button type="button" class="btn btn-outline-success">Zaloguj</button>
                </a>
            </li>
            <!-- <li class="nav-item"><button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#login">Zaloguj</button></li> -->
    </ul>
</nav>
</body>
</html>