body{
    background-color: #F0F8FF;
}
h1, p{
    color: white;
}
.cursor:hover{
    cursor:pointer;
}
.dropdown-menu{
    background-color: #343a40;
}
.dropdown-item{
    color: #F5F5F5;
}
.dropdown-item:hover{
    background-color: #343a40;
    color: #F0F8FF;
}